/* ============================================================
   MAIN - REPORTES (mobile first)
=============================================================== */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    gap: 8px;
}

/* Reportes */
.reports-data {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem; margin-bottom: 1rem;
    gap: 8px;
}

/* Data container */
.data-cont {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

/* Data */
.reports-data .data {
    display: flex;
    width: 100%;
    padding: 1rem;
    gap: 8px;
    border: 1px solid gray;
    color: rgb(61, 61, 61);
    border-radius: var(--border-radius-lg);
}

.reports-data i {
    font-size: var(--font-size-md);
}

/* Tipo */
.reports-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
/* Label */
.reports-type label {
    font-size: var(--font-size-md);
    font-weight: 700;
}
/* Dropdwon button */
.reports-type select {
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: var(--border-radius-lg);
}

.report-add {
    padding: 0.8rem;
    border: none;
    border-radius: var(--border-radius-lg);
    color: white;
    background-color: var(--color-primary);
    transition: all 0.2s ease-in-out;
}

.report-add:hover {
    filter: brightness(0.90);
    transform: scale(1.01);
}

/* Lista de reportes */
.report-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

/* Card */
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    padding: 0.8rem;
    gap: 8px;
    border: 1px solid rgba(128, 128, 128, 0.356);
    border-radius: var(--border-radius-lg);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.11);
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
}

.info-card {
    grid-column: span 2 / span 2;
}
.info-card h3 {
    font-size: var(--font-size-md);
}
.info-card .type span {
    font-weight: 700;
}
.info-card .data {
    font-weight: 600;
    color: gray;
}

.action-card {
    grid-column-start: 3;
    gap: 10px;
}

.archive-type {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    border: none;
    border-radius: var(--border-radius-lg);
    color: white;
    background: #CA3836;
    background: linear-gradient(0deg, #CA3836, #F2A7AF);
}

.action-card .down {
    padding: 0.5rem;
    border: none;
    width: 100%;
    border-radius: var(--border-radius);
}