/* TODO: Estilos de form*/

/*! -------------- */
/*! Sección: Form container */
/*! -------------- */
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
    width: 100%; max-width: 100%; min-width: 100%;
    padding: 1.5rem;
}
/* Titulo */
.form-login h1 {
    font-size: 1.5rem; 
    font-weight: 700;
}
/* Párrafo */
.form-login p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(77, 77, 77);
}

/*! -------------- */
/*! Sección: Form */
/*! -------------- */

.form-login form {
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}
/* Correo */
.form-login form .login-correo {
    display: flex;
    flex-direction: column;
}