/* TODO: Estilos para el footer de la página de login */

/** ========================== */
/** Mobile First               */
/** ========================== */

/*? ===== FOOTER ===== */
footer {
    display: flex; 
    align-items: center; justify-content: center;
    height: 133px;
    margin-top: 2rem;
}
/*? ===== FOOTER CONTAINER ===== */
.container-foot {
    display: flex;
    gap: 1.5rem;
}

/*? ===== FOOTER BUTTONS ===== */
.btn-idioma {
    border: none;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.btn-idioma:hover {
    transform: scale(1.05);
    color: gray;
}
.btn-idioma img {
    width: 16px;
    margin-right: 6px;
}